.base {
  font-family: var(--font-sans);
  line-height: 1.6;
  margin: 0;
}

.sm {
  font-size: var(--text-xs);
}

.md {
  font-size: var(--text-sm);
}

.lg {
  font-size: var(--text-md);
}

.default {
  color: var(--text-primary);
}

.muted {
  color: var(--text-secondary);
}

.accent {
  color: var(--text-accent);
}
