.root {
  border: none;
  padding: 0;
  margin: 0;
  min-inline-size: 0;
}

.legend {
  padding: 0;
  display: block;
  width: 100%;
}

.legendVisuallyHidden {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  white-space: nowrap;
}
